@model OrderViewModel
@{
    ViewBag.Title = "OrderData";
    Layout = "~/Views/Order/OrderInfo.cshtml";
}

<div class="c-data">
    <h2 class="des-data">Order information for cash on delivery payment</h2>
    @using (Html.BeginForm("MakeOrder", "Order", FormMethod.Post, new { name = "mayform", enctype = "multipart/from-data" }))
    {
        @Html.LabelFor(i => i.OrderAddress)
        @Html.TextBoxFor(i => i.OrderAddress, new { name = "city", id = "city" })
        @Html.ValidationMessageFor(i => i.OrderAddress, "", new { @class = "text-danger" })

        @Html.LabelFor(i => i.ContactPhone)
        @Html.TextBoxFor(i => i.ContactPhone, new { name = "phone", id = "phone" })
        @Html.ValidationMessageFor(i => i.ContactPhone, "", new { @class = "text-danger" })

        @Html.LabelFor(i => i.FeedBack)
        @Html.TextAreaFor(i => i.FeedBack, new { cols = "30", rows = "5" })
        @Html.ValidationMessageFor(i => i.FeedBack, "", new { @class = "text-danger" })

        @Html.HiddenFor(i => i.PaymentMethod);
        @*@Html.LabelFor(i => i.PaymentMethod, new { id = "paymentlbl" })
        <label for=@PaymentMethod.Cash>@PaymentMethod.Cash <i class="fas fa-money-bill-alt"></i></label>
        @Html.RadioButtonFor(i => i.PaymentMethod, PaymentMethod.Cash, new { id = PaymentMethod.Cash, style = "color:#fff" })
        <label for=@PaymentMethod.Paypal>@PaymentMethod.Paypal <i class="fab fa-cc-paypal"></i></label>
        @Html.RadioButtonFor(i => i.PaymentMethod, PaymentMethod.Paypal, new { id = PaymentMethod.Paypal, style = "color:#fff" })*@
        <input type="submit" value="Confirm" class="next" @*onclick="go()"*@ />
    }
</div>


