@model MedicalStore.Models.ProductViewModel


<div class="desc-cat text-center">
    <h1>Upload New Products</h1>
</div>

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="file" name="prodImg" id="prodImg" multiple />

    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })


    @Html.LabelFor(model => model.Name, "Name")
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { autocomplete = "off" } })

    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })


    @Html.LabelFor(model => model.Price)
    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { value = "0", min = "0" } })
    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })



    @Html.LabelFor(model => model.QuantityInStock, "Quantity")
    @Html.EditorFor(model => model.QuantityInStock, new { htmlAttributes = new { value = "10", min = "0" } })
    @Html.ValidationMessageFor(model => model.QuantityInStock, "", new { @class = "text-danger" })

    @*<label>Category Name</label>*@

    @Html.LabelFor(model=>model.CategoryId,"Category Name")
    @Html.DropDownListFor(model=>model.CategoryId, ViewBag.cats as SelectList ,htmlAttributes:new { @class="form-control-sm", @style="margin-left:43%" })

    @Html.TextAreaFor(model => model.Description, new { rows = 10, cols = 50 })
    <input type="submit" value="Add" class="btn-0" />

    @*<button class="btn-0">Send</button>*@
    @*<button class="btn-2"> Edit</button>
        <button class="btn-3"> Delete</button>*@
}
<div>
    @Html.Action("Prods", "Admin")
</div>







