@model MedicalStore.Models.ProductViewModel
@{
    Layout = null;
    ViewBag.Title = "UpdateProduct";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/form.css" rel="stylesheet" />
    <style>
        textarea {
            resize: none;
        }

        h2 {
            text-align: center;
            margin: 10px auto;
            color: blue;
        }
    </style>
</head>
<body>
    <h2>UpdateProduct</h2>
    @using (Html.BeginForm("updateProduct", "Product", FormMethod.Post ))
    {
        @Html.HiddenFor(aa => aa.Id)

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(aa => aa.Name, "Name", htmlAttributes: new { @class = "col-form-label" })
            <div>
                @Html.EditorFor(aa => aa.Name, new { htmlAttributes = new { autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(aa => aa.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(aa => aa.Price, htmlAttributes: new { @class = "col-form-label" })
            <div>
                @Html.EditorFor(aa => aa.Price, new { htmlAttributes = new { value = "0", min = "0", @class = "form-control" } })
                @Html.ValidationMessageFor(aa => aa.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(aa => aa.QuantityInStock, "Quantity", htmlAttributes: new { @class = "col-form-label" })
            <div>
                @Html.EditorFor(aa => aa.QuantityInStock, new { htmlAttributes = new { value = "10", min = "0", @class = "form-control" } })
                @Html.ValidationMessageFor(aa => aa.QuantityInStock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.TextAreaFor(aa => aa.Description, new { rows = 10, cols = 50 })
        </div>
        <input type="submit" value="Edit" class="btn btn-outline-primary btn-lg" />

    }

    @*@Html.ActionLink("Back", "", "product", htmlAttributes: new { @class = "btn btn-secondary" })*@


    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>