@model  IEnumerable<MedicalStore.Models.ProductViewModel>
@{
    ViewBag.Title = "Shop";
}

<!-- Shop -->
<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

<!-- Shop Sidebar -->
<div class="shop_sidebar">
            <div class="sidebar_section">
                <div class="sidebar_title">Categories</div>
                <ul class="sidebar_categories">

                    @foreach (var item in ViewBag.cats as IEnumerable<MedicalStore.Models.CategoryViewModel>)
                    {
                        <li>@Html.ActionLink(item.Name ,"ViewCategoryProducts" ,"Shop",htmlAttributes:new { }, routeValues : new { id = item.Id})</li>
                    }
                </ul>
            </div>
        </div>

    </div>

    <div class="col-lg-9">

<!-- Shop Content -->
<div class="shop_content">
    <div class="shop_bar clearfix">
        <div class="shop_product_count"><span>@Model.Count()</span> products found</div>

    </div>

    <div class="product_grid">
        <div class="product_grid_border"></div>
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Product Item -->
                <div class="product_item">
                    <a href="@Url.Action("ProductDetails","Shop",routeValues:new { id = item.Id})">
                        <div class="over-v"><i class="fas fa-eye"> </i></div>
                    </a>
                    <div class="product_border"></div>
                    <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="data:image/png;base64,@item.Image" alt=""></div>
                    <div class="product_content">
                        <div class="product_price">@item.Price LE</div>
                        <div class="product_name"><div><a tabindex="0">@item.Name</a></div></div>
                    </div>
                </div>
            }
        </div>

    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>




